.channel-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    border-top: 1px solid var(--border);
    border-right: 1px solid var(--border);
}

.channel-text-entry-container {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 35px;
}

.channel-text-entry-container > .channel-text-input {
    width: 100%;
    height: 100%;
    padding-right: 10px;
}

.channel-text-entry-container > .emoji-button {
    position: absolute;
    right: 5px;
    height: calc(24px * 1.5);
    scale: 1.5;
    background: none;
    border: none;
    cursor: pointer;
}

.channel-text-entry-container > .emoji-button:hover {
    filter: brightness(0.9);
}

.channel-text-input-button {
    height: 35px;
    border-left: none;
}
