.footer {
    display: grid;
    grid-template-columns: 200px calc(50% - 100px) 1fr;
    grid-template-rows: 1fr 30px;
    grid-row: 3;
    grid-column: 1 / -1;
    background-color: var(--bg-secondary);
}

.footer > .voice-control {
    grid-row: 1;
    grid-column: 1;
}

.footer > .api-form {
    grid-row: 1;
    grid-column: 2;
}

.footer > .channel-text {
    grid-row: 1;
    grid-column: 3;
}

.footer > .net-stats {
    grid-row: 2;
    grid-column: 1;
}

.footer > .webnote-container {
    display: grid;
    grid-template-columns: calc(100% - 100px) 100px;
    grid-row: 2;
    grid-column: 2 / -1;
}

.footer > .webnote-container > .copyright {
    border-top: 1px solid var(--border-strong);
    grid-column: 1;
    text-align: center;
    font-size: 0.8em;
}

.footer > .webnote-container > .copyright > p {
    padding-top: 5px;
}

.footer > .webnote-container > .socials {
    border-top: 1px solid var(--border-strong);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    grid-column: 2;
}
