.header {
    display: grid;
    grid-template-columns: 200px 1fr 125px;
    grid-row: 1;
    grid-column: 1 / -1;
    border-bottom: 1px solid var(--border);
}

.header > .status-box {
    display: flex;
    align-items: center;
    padding: 10px;
    grid-row: 1;
    grid-column: 1;
    border-right: 1px solid var(--border);
}

.header > .status-box > .status-icon {
    margin-right: 15px;
    height: 32px;
    width: 32px;
}

.header > .app-title {
    padding: 10px;
    grid-row: 1;
    grid-column: 2;
    border-right: 1px solid var(--border);
    color: var(--accent);
    font-size: 1.5em;
    font-weight: bold;
}

.header > .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    grid-row: 1;
    grid-column: 3;
}
